{% extends '../base.html' %} {% block content %}

<div class="column">
  <div class="block">
    <h1 class="title is-1">{{profile.user.username|upper}}'s Feeds</h1>
    <p class="is-6">{{profile.bio}}</p>
  </div>
  {% if current_user.pk != profile.pk %}
  <form method="post">
    {% csrf_token %}
    <div class="buttons has-addons">
      {% if profile in user.profile.follows.all %}
      <button class="button is-rounded is-success is-static">Follow</button>
      <button
        class="button is-rounded is-danger"
        name="follow"
        value="unfollow"
      >
        Unfollow
      </button>
      {% else %}
      <button class="button is-rounded is-success" name="follow" value="follow">
        Follow
      </button>
      <button class="button is-rounded is-danger is-static">Unfollow</button>
      {% endif %}
    </div>
  </form>
  {% endif %}

  <div class="content">
    {% for post in posts %}
    <div class="box">
      {{ post.text }}
      <span class="is-small has-text-grey-light">
        ({{ post.created_at }})
      </span>
      <a href="/posts/{{ post.id }}">Post details</a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="column is-one-third">
  <div class="block">
    <a href="{% url 'social:profile_list' %}">
      <button
        class="is-rounded button is-info is-light is-outlined is-fullwidth"
      >
        All Profiles
      </button>
    </a>
  </div>
  {% if current_user.pk == profile.pk %}
  <div class="block">
    <a href="{% url 'social:profile_update' user.profile.pk%}">
      <button
        class="button is-rounded is-info is-light is-outlined is-fullwidth"
      >
        Edit My Profile
      </button>
    </a>
  </div>
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button
      class="button is-rounded is-success is-fullwidth is-medium mt-5"
      type="submit"
    >
      Post
    </button>
  </form>
  {% endif %}

  <div class="block">
    <h3 class="title is-4">{{profile.user.username}} following:</h3>
    <div class="content">
      <ul>
        {% for following in profile.follows.all %}
        <li>
          <a href="{% url 'social:profile' following.pk%}"> {{ following }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="block">
    <h3 class="title is-4">{{profile.user.username}} followers:</h3>
    <div class="content">
      <ul>
        {% for follower in profile.followed_by.all %}
        <li>
          <a href="{% url 'social:profile' follower.pk%}"> {{ follower }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
