{% extends 'base.html' %} {% block content %}

<body>
  <div id="about">
    <h1>
      <div style="float: left; margin-bottom: 20px">PARJALAN</div>
    </h1>
    <h3 style="clear: both" class="subhead">
      We are a group of enthusiastic and eager, software developers currently
      studying at General Assembly. <img src=”https://imgur.com/a/iZ92jYh”>
    </h3>
    <p>
      Feel free to contact us after the presentation if you'd like to invenst in
      our platform (we accept crypto)!
    </p>
  </div>
</body>
{% endblock content %}
