{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>SocialNetwork</title>
</head>
<body style="height: 100vh;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <div class="buttons">
                <a href="{% url 'social:about' %}" class="button is-light" id="about">
                  <strong>About</strong>
                </a>
              </div>
            </div>
            {% if user.is_authenticated %}
              <a href="{% url 'social:dashboard' %}" class="navbar-item">
                Dashboard
              </a>
              <a href="{% url 'social:profile_list' %}" class="navbar-item">
                Profile Lists
              </a>
              <a href="{% url 'social:profile' user.profile.pk%}"class="navbar-item">
                My Profile
              </a>
            {% endif %} 
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="button is-primary">
                        Log Out
                    </a>
                {% else %}
                <a  href="{% url 'login' %}" class="button is-light">
                    <strong>Log in</strong>
                </a>
                <a  href="{% url 'social:signup' %}" class="button is-light">
                    <strong>Sign Up</strong>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
      <br><br><br>
    <div class="container">
        <div class="columns">

            {% block content %}

            {% endblock content %}

        </div>
    </div>
