<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>SocialNetwork</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="{% url 'social:dashboard' %}" class="navbar-item">
              Home
            </a>
      
            <a href="{% url 'social:about' %}" class="navbar-item">
              About
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'social:profile_list' %}" class="navbar-item">
                  Profile Lists
                </a>
                <a href="{% url 'social:profile' user.profile.pk%}"class="navbar-item">
                  My Profile
                </a>
                <a href="{% url 'social:posts_create' %}" class="navbar-item">Add a Post</a>
                <a href="/posts" class="navbar-item">All Posts</a>
            {% endif %} 
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="button is-primary">
                        Log Out
                    </a>
                {% else %}
                <a  href="{% url 'login' %}" class="button is-light">
                    <strong>Log in</strong>
                </a>
                <a  href="{% url 'social:signup' %}" class="button is-light">
                    <strong>Sign Up</strong>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
      <br><br><br>
    <div class="container">
        <div class="columns">

            {% block content %}

            {% endblock content %}

        </div>
    </div>
{% comment %} {% load static %} {% endcomment %}
 {% comment %} THE COMING CHANGES  {% endcomment %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Django Social Networking App</a></li>
        </ul>
        <ul class="right">
          <li><a href="/posts">All Posts</a></li>
          <li><a href="{% url 'posts_create' %}">Add a Post</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved &copy; 2022 Django Social Networking App &nbsp;</div>
  </footer>
</body>
</html> {% endcomment %}