{% extends 'base.html' %}
{% block content %}

<div class="column is-three-quarters">
    {% comment %} write a post {% endcomment %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="button is-rounded is-info is-light is-outlined is-fullwidth"
                type="submit">Post
        </button>
    </form>
    <br><br>
        {% comment %} list all posts {% endcomment %}
        {% for post in posts %}
            <div class="box">
                {{ post.text }}
                <span class="is-small has text-grey-light">
                    {{ post.created_at }} by {{ post.user.username }}
                </span>
                <a href="/posts/{{ post.id }}">Post details</a>
                {% comment %} Add Like {% endcomment %}
                <form method="POST" action="{% url 'social:like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button type="submit">like
                        <span> {{ post.like.all.count }}</span>
                    </button>
                </form>
                {% comment %} Add Dislike {% endcomment %}
                <form method="POST" action="{% url 'social:dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button type="submit">dislike
                        <span>{{ post.dislike.all.count }}</span>
                    </button>
                  </form>
            </div>
        {% endfor %}
</div>

{% endblock %}