{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% comment %} write a post {% endcomment %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success is-fullwidth is-medium mt-5"
                type="submit">Post
        </button>
    </form>
    <br><br>
{% comment %} list all posts {% endcomment %}
    {% for user in users %}
        {% for post in user.posts.all %}
            <div class="box">
                {{ post.text }}
                <span class="is-small has text-grey-light">
                    {{ post.created_at }} by {{ post.user.username }}
                </span>
                <a href="/posts/{{ post.id }}">Post details</a>
            </div>
        {% endfor %}
    {% endfor %}
</div>


{% endblock %}