{% extends 'base.html' %} {% block content %}
<div class="column">
  <h1>Post Details</h1>

  <div class="box">
    <div class="card-content">
      {{ post.text }}
      <span class="is-small has text-grey-light">
          {{ post.created_at }} by {{ post.user.username }}
      </span>
    </div>
    {% if current_user.pk == current_post_user.pk %}
    <div class="button">
      <a href="{% url 'social:posts_update' post.id %}" class="card-footer-item" >Edit</a>
    </div>
    <div class="button">
      <a href="{% url 'social:posts_delete' post.id %}" class="card-footer-item">Delete</a>
    </div>
  {% endif %}
  {% comment %} Add Like {% endcomment %}
  <form method="POST" action="{% url 'social:like' post.pk %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <button class="button"type="submit">like
        <span> {{ post.like.all.count }}</span>
    </button>
  </form>
  {% comment %} Add Dislike {% endcomment %}
  <form method="POST" action="{% url 'social:dislike' post.pk %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <button class="button" type="submit">dislike
        <span> {{ post.dislike.all.count }}</span>
    </button>
  </form>
</div>

  <br /><br />

  <h1>Comments</h1>
  {% for comment in post.comment_set.all %}
  <div class="box">
    {{ comment.user.username }} : {{ comment.text }}
    <span class="is-small has text-grey-light"> {{ comment.created_at }} </span>
    <div class="button">
      <a href="{% url 'social:comment_update' comment.id %}">Edit</a>
    </div>
    <div class="button">
      <a href="{% url 'social:comment_delete' comment.id %}">Delete</a>
    </div>
</div>
  {% endfor %}

  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="button is-success is-fullwidth is-medium mt-5" type="submit">
      Comment
    </button>
  </form>
</div>

{% endblock %}
